In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv(
    "https://raw.githubusercontent.com/nestorivanmo/datasets/master/tab-delimited-bilingual-sentence-pairs/spa.txt", 
    sep='\t', 
    names=["trg", "src", "author"]
)

df.drop('author', axis=1, inplace=True)

print(f"Número de registros: {df.shape[0]}")

df.head()

Número de registros: 138437

   trg      src
0  Go.      Ve.
1  Go.    Vete.
2  Go.    Vaya.
3  Go.  Váyase.
4  Hi.    Hola.

In [10]:
train, t = train_test_split(df, train_size=0.9, random_state=23)
test, validation = train_test_split(t, train_size=0.5, random_state=23)

In [11]:
print(train.shape)
print(test.shape)
print(validation.shape)

(124593, 2)
(6922, 2)
(6922, 2)

In [14]:
train.to_csv('train.csv', index=False)
test.to_csv('test.csv', index=False)